.testUIContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.inputContainer, .outputContainer {
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.containerTitle {
  margin: 0.5em 1em;
  text-align: left;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2em;
}

.mainContainer > button {
  width: fit-content;
}

.grow-divider {
  flex-grow: 1;
}
