.Center{
  text-align: center;
  font-size: larger;
  font-weight: lighter;
  padding-bottom: 20px;
}

.Container{
  background-color: aqua;
  border-width: 5px;
  border-style: dotted;
  border-color: black;
}
