.Center{
  text-align: center;
  font-size: larger;
  font-weight: lighter;
  padding-bottom: 20px;
}

.Container{
  background-color: aqua;
  border-width: 5px;
  border-style: dotted;
  border-color: black;
}

.HeaderText{
  font-size: xx-large;
  justify-self: center;
}

.label{
  font-size: medium;
  justify-self: center;
}

.topThreeButtons{
  padding: 10px;
}

.dumbButton{
  font-size: large;
  max-width: fit-content;
  max-height: 250px;
}

.mainWindow{
  padding-left: 0%;
  padding-right: 0%;
  margin: 0%;
}
